<p id="notice"><%= notice %></p>

<h1>Download Center</h1>

<p>
  <strong>Firstname:</strong>
  <%= @download.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @download.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @download.email %>
</p>

<p> Your downloads : </p>
link1
link2
link3
link4
link5

<%= link_to 'Back', root_path %>
