<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @download.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @download.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @download.email %>
</p>

<p>
  <strong>Link:</strong>
  <%= @download.link %>
</p>

<%= link_to 'Back', root_path %>
